<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
  </div><!--/.col-xs-12.col-sm-9-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
      <a href="#" class="list-group-item">Hospice Home</a>
      <a href="#" class="list-group-item">Members Login</a>
      <a href="#" class="list-group-item">Refferals</a>
      <a href="#" class="list-group-item">Patients & Families</a>
      <a href="#" class="list-group-item">End of Life Care</a>
      <a href="#" class="list-group-item">Out of Hours</a>
      <a href="#" class="list-group-item">Literature</a>
      <a href="#" class="list-group-item">News and Events</a>
      <a href="#" class="list-group-item">How to Find Us</a>
    </div>
  </div><!--/.sidebar-offcanvas-->
</div><!--/row-->